<div class="jumbotron">

	<p class="title" style="font-size:50px; margin-top:400px; color:rgb(0,255,255);"><strong>领英未来</strong></p>
    <p class="slogan" style="font-size:30px; color:rgb(76,175,80);"><strong>领英未来 是一个提供价值成长的平台。
    <br>
    我们希望藉由这个网站，能让大家分享自己的努力成果，锻炼核心竞争力。
    <br>
     凭借自己的努力获得更多惊喜</strong>
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上加入</a></p>
  </div>

<div class="container">



    <div class="row">
    	<div class="col-lg-3">
    				<div class="cuadro_intro_hover " style="background-color:#cccccc;">
						<p style="text-align:center;">
							<img src="https://static.pexels.com/photos/64057/pexels-photo-64057.jpeg" class="img-responsive" alt="">
						</p>
						<div class="caption">
							<div class="blur"></div>
							<div class="caption-text">
								<h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">演讲能力</h3>
								<p>讲，最好的表达自己的能力，生活中不可或缺的能力之一</p>
								<a class=" btn btn-default" href="/jobs"><span class="glyphicon glyphicon-plus"> 开讲</span></a>
							</div>
						</div>
					</div>

	    </div>

        <div class="col-lg-3">
        			<div class="cuadro_intro_hover " style="background-color:#cccccc;">
						<p style="text-align:center;">
							<img src="https://media.licdn.com/mpr/mpr/p/5/005/08a/0b3/2965093.jpg" class="img-responsive" alt="">
						</p>
						<div class="caption">
							<div class="blur"></div>
							<div class="caption-text">
								<h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">收获自信</h3>
								<p>熟练地掌握演讲能展现出一个自信的自己<p>
								<a class=" btn btn-default" href="/jobs"><span class="glyphicon glyphicon-plus"> 开讲</span></a>
							</div>
						</div>
					</div>

	    </div>
        <div class="col-lg-3">
        			<div class="cuadro_intro_hover " style="background-color:#cccccc;">
						<p style="text-align:center;">
							<img src="https://images.unsplash.com/photo-1456481649446-987a518fbea5?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=47a28fbde18a296ecc5183c1f12b85ad" class="img-responsive" alt="">
						</p>
						<div class="caption">
							<div class="blur"></div>
							<div class="caption-text">
								<h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">得到欢乐</h3>
								<p>教，是最好的学习，通过演讲分享，得到知识的升级成长<p>
								<a class=" btn btn-default" href="/jobs"><span class="glyphicon glyphicon-plus"> 开讲</span></a>
							</div>
						</div>
					</div>

	    </div>
        <div class="col-lg-3">
        			<div class="cuadro_intro_hover " style="background-color:#cccccc;">
						<p style="text-align:center;">
							<img src="http://cdn.magdeleine.co/wp-content/uploads/2015/09/photo-1433878455169-4698e60005b1-1400x933.jpeg" class="img-responsive" alt="">
						</p>
						<div class="caption">
							<div class="blur"></div>
							<div class="caption-text">
								<h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">更多惊喜</h3>
								<p>通过分享及演讲，你将能收获更多的朋友，获得人生的意外惊喜</p>
								<a class=" btn btn-default" href="/jobs"><span class="glyphicon glyphicon-plus"> 开讲</span></a>
							</div>
						</div>
					</div>

	    </div>
    </div>
</div>


</div>
