<!--<h1> Hello World! </h1>-->
  <div class="jumbotron">
    <h1 class="title">鲸 擎</h1>
    <p class="slogan">一次投递，让海量好机会来找你
    <br>
    年薪20W起，每周精选100+A轮以上最具前景互联网企业
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">尽请一跃</a></p>
  </div>

  <section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://s178.photo.store.qq.com/psb?/V12x9Q4J4PUfLb/Gyn1K6Zoky9oALKiLFXxmZRJJ7IH5IMKK30H7hkzYI4!/b/dLIAAAAAAAAA&bo=wAOAAgAAAAAFAGI!&rf=viewer_4" alt="search" class = "img-thhumbnail">
          <div class="caption">
            <h3>上海外滩</h3>
            <hr>
            <h3>上海外滩</h3>
            <hr>
            <h3>上海外滩</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://s1.photo.store.qq.com/psb?/V12x9Q4J4PUfLb/M2Q1GBgT0nTlEg6Kn6lSFJ7N6GgDOWJNADlpK3UL2Ko!/b/dAsBAAAAAAAA&bo=wAOAAgAAAAAFAGI!&rf=viewer_4" alt="bid" class = "img-thhumbnail">
          <div class="caption">
            <h3>上海外滩</h3>
            <hr>
            <h3>上海外滩</h3>
            <hr>
            <h3>上海外滩</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://s288.photo.store.qq.com/psb?/V12x9Q4J4PUfLb/72G14y47U4IB8oaCFiUMJfWFejYTs7b7lZzXDlsEPAc!/b/dCABAAAAAAAA&bo=wAOAAgAAAAAFAGI!&rf=viewer_4" alt="heart" class = "img-thhumbnail">
          <div class="caption">
            <h3>上海外滩</h3>
            <hr>
            <h3>上海外滩</h3>
            <hr>
            <h3>上海外滩</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
